.setters-container {
    display: flex;
    font-size: 75%;
    justify-content: space-around;
    padding: 20px;
}

.setters-container * {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.setters-container button,
.setters-container input {
    padding: 5px;
}

.setters-container .container {
    flex: 1 1 50%;
    text-align: center;
}

.setters-container .container > input {
    text-align: center;
}

#preview-container {
    width: 100vw;
    height: 75vh;
}
