.bp-image {
    .ba-Layer {
        position: absolute;
        white-space: initial; // Overrides white-space: no-wrap inherited .bp-image
        text-align: initial; // Overrides text-align: center inherited .bp-image
        pointer-events: none;
    }

    // Applied to img element, which is managed by Preview SDK
    .ba-is-drawing {
        user-select: none; // Prevent visible selection highlight
    }
}
