// Configuration for Babel transpilation
{
    "presets": [
        ["es2015", { "modules": false }],
        "es2016",
        "react"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ],
    "env": {
        "npm": {
            "plugins": [
                [
                    "babel-plugin-transform-require-ignore", {
                        "extensions": [".scss", ".css"]
                    }
                ]
            ]
        },
        "test": {
            "plugins": [
                ["istanbul", {
                    "exclude": [
                        "src/polyfill.js",
                        "**/*-test.js",
                        "build/**",
                        "docs/**",
                        "lib'**"
                    ]
                }],
                ["babel-plugin-transform-require-ignore", { "extensions": [".scss"] }]
            ]
        },
    }
}
