{
    "presets": [
        ["es2015", {
            "modules": false
        }],
        "es2016",
        "react",
        "flow"
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-regenerator"
    ],
    "env": {
        "dev": {
            "plugins": [
                "flow-react-proptypes", [
                    "react-intl",
                    {
                        "enforceDescriptions": true,
                        "messagesDir": "./i18n/json"
                    }
                ]
            ]
        },
        "npm": {
            "plugins": [
                [
                    "babel-plugin-transform-require-ignore", {
                        "extensions": [".scss", ".css"]
                    }
                ]
            ]
        },
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs", [
                    "babel-plugin-transform-require-ignore", {
                        "extensions": [".scss", ".css"]
                    }
                ]
            ]
        }
    }
}
