_site
node_modules
*.swp
*.iml
.idea
.DS_Store
npm-debug.log
yarn-debug.log
npm-error.log
yarn-error.log
package-lock.json
reports
dist
i18n/*.js
i18n/json
test/dev.html
lib
*~~bak
functional-tests/output
build/rsync.json
test/screenshots
test/videos
