.DS_Store
.idea
dist
functional-tests/output
i18n/*.js
i18n/json
node_modules
npm-debug.log
npm-error.log
package-lock.json
reports
scripts/rsync.json
test/screenshots
test/videos
yarn-debug.log
yarn-error.log
