# @desktop @mobile @enabled
language: node_js
node_js:
- '8'
cache: yarn
notifications:
    email:
        recipients:
            - preview-alerts@box.com
jobs:
  include:
  - name: "Build"
  script: yarn run ci
  - name: "E2E Tests"
  script: yarn test:e2e
