# @desktop @mobile @enabled
language: node_js
node_js:
    - '10'
cache: yarn
notifications:
    email:
        recipients:
            - preview-alerts@box.com
jobs:
    include:
        - name: "Code Lint"
          script: yarn lint
        - name: "Unit Tests"
          script: yarn test
        - name: "E2E Tests"
          script: yarn test:e2e
