# @desktop @mobile @enabled
language: node_js
node_js:
- '8'
cache: yarn
notifications:
    email:
        recipients:
            # Update to preview-alerts when tests are more stable
            - spramod@box.com
aliases:
    - &sauce-labs
        if: type = cron
        before_script:
        - yarn run setup-travis &
        - sleep 5
        addons:
          sauce_connect: true
        script: yarn run functional-tests-ci
    - &sauce-labs-mobile
      <<: *sauce-labs
      script: yarn run functional-tests-ci --grep @mobile
    - &sauce-labs-desktop
      <<: *sauce-labs
      script: yarn run functional-tests-ci --grep @desktop
    - &sauce-labs-ie
      <<: *sauce-labs
      script: yarn run functional-tests-ci --grep @ie
jobs:
  include:
  - script: yarn run ci
  # Mac Chrome
  - <<: *sauce-labs-desktop
    env: BROWSER_PLATFORM="macOS 10.13" BROWSER_NAME="chrome" FILE_ID="285567874839" FILE_VERSION_ID="300496591287"
  # Mac Safari
  - <<: *sauce-labs-desktop
    env: BROWSER_PLATFORM="macOS 10.13" BROWSER_NAME="safari" FILE_ID="285569765346" FILE_VERSION_ID="300498497346"
  # Mac Firefox
  - <<: *sauce-labs-desktop
    env: BROWSER_PLATFORM="macOS 10.13" BROWSER_NAME="firefox" FILE_ID="285568802145" FILE_VERSION_ID="300497533713"
  # Windows Edge
  - <<: *sauce-labs-desktop
    env: BROWSER_PLATFORM="Windows 10" BROWSER_NAME="MicrosoftEdge" FILE_ID="285567976309" FILE_VERSION_ID="300496707445"
  # Windows IE
  - <<: *sauce-labs-ie
    env: BROWSER_PLATFORM="Windows 10" BROWSER_NAME="internet explorer" FILE_ID="285568624824" FILE_VERSION_ID="300497342136"
  # iPhone
  - <<: *sauce-labs-mobile
    env: BROWSER_PLATFORM="iOS" DEVICE_NAME="iPhone 6 Simulator" PLATFORM_VERSION="11.2" BROWSER_NAME="Safari" FILE_ID="285569765346" FILE_VERSION_ID="300498497346"
  # iPad
  - <<: *sauce-labs-mobile
    # Uses firefox file id
    env: BROWSER_PLATFORM="iOS" DEVICE_NAME="iPad Simulator" PLATFORM_VERSION="11.2" BROWSER_NAME="Safari" FILE_ID="285568802145" FILE_VERSION_ID="300497533713"
  # Android
  - <<: *sauce-labs-mobile
    # Uses chrome file id
    env: BROWSER_PLATFORM="Android" DEVICE_NAME="Android GoogleAPI Emulator" PLATFORM_VERSION="7.1" BROWSER_NAME="Chrome" FILE_ID="285567874839" FILE_VERSION_ID="300496591287"
