# @desktop @mobile @enabled
language: node_js
dist: 'focal'
node_js:
    - '18'
addons:
    apt:
        packages:
            - libgconf-2-4
cache:
    yarn: true
    directories:
        - node_modules
        - ~/.cache/Cypress
before_install:
    - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.22.5
    - export HUSKY_SKIP_HOOKS=1
    - export NODE_OPTIONS=--openssl-legacy-provider
    - export PATH=$HOME/.yarn/bin:$PATH
    - export TZ=America/Los_Angeles
jobs:
    include:
        - name: 'Build'
          script: yarn build
        - name: 'Code Lint'
          script: yarn lint
        - name: 'Unit Tests'
          script: yarn test
        - name: 'E2E Tests'
          if: fork = false # Note: We can only run E2E tests on canonical due to security concerns
          script: travis_wait 30 yarn test:e2e
notifications:
    email:
        recipients:
            - preview-dev@box.com
