# @desktop @mobile @enabled
language: node_js
node_js:
    - '12'
addons:
    apt:
        packages:
            - libgconf-2-4
cache:
    yarn: true
    directories:
        - node_modules
        - ~/.cache/Cypress
before_install:
    - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.19.1
    - export HUSKY_SKIP_HOOKS=1
    - export PATH=$HOME/.yarn/bin:$PATH
    - export TZ=America/Los_Angeles
jobs:
    include:
        - name: 'Lint & Tests'
          script: yarn lint && yarn test
        - name: 'E2E Tests'
          script: yarn test:e2e:ci
notifications:
    email:
        recipients:
            - preview-alerts@box.com
