@import '~draft-js/dist/Draft.css';

.ba-ReplyField {
    div[contentEditable='true'] {
        &,
        &:disabled,
        &:hover,
        &:focus {
            padding: 0;
            border: none;
            box-shadow: none;
        }
    }
}
