@import '~box-ui-elements/es/styles/variables';

.ba-PopupCursor {
    z-index: 100;
    padding: 3px 6px;
    color: $white;
    font-size: 11px;
    line-height: normal;
    letter-spacing: normal;
    background-color: $bdl-gray;
    border: 1px solid $white;
    border-radius: 3px;
    box-shadow: none;
}
