@import '~box-ui-elements/es/styles/variables';
@import './PopupArrow';

.ba {
    $popup-content-bg: $white;
    $popup-border-color: $bdl-gray-20;
    $popup-footer-bg: $bdl-gray-02;

    .ba-Popup {
        @include common-typography;
        @include ba-PopupArrow(12px, $popup-content-bg, $popup-content-bg, $popup-footer-bg, $popup-content-bg, $popup-border-color);

        z-index: 1; // Make sure popup is showing above Preview controls and left/right arrows
    }

    // The following media query is specific to IE10+
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .ba-Popup {
            z-index: 0; // Changing z-index causes page to flicker in IE11
        }

        .ba-ItemList {
            // stylelint-disable-next-line declaration-no-important
            max-height: 140px !important; // Prevent list overflow onto subsequent pages in IE11
        }

        .ba-ReplyForm {
            opacity: .99; // Creates a new stacking context so that the collaborators list shows on top of the ba-Popup-footer
        }
    }

    .ba-Popup-content {
        overflow: hidden;
        background-color: $popup-content-bg;
        border: 1px solid $popup-border-color;
        border-radius: 6px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .15);
    }

    .ba-Popup-footer {
        display: flex;
        justify-content: flex-end;
        padding: 5px;
        background-color: $popup-footer-bg;
        border-top: 1px solid $popup-border-color;
    }
}
