@import '~box-ui-elements/es/styles/variables';

.ba {
    $popup-arrow-size: 12px;
    $popup-content-bg: $white;
    $popup-border-color: $bdl-gray-20;
    $popup-footer-bg: $bdl-gray-02;

    .ba-Popup {
        @include common-typography;

        z-index: 1;

        // Top-facing arrows
        &[data-popper-placement*='bottom'] {
            .ba-Popup-arrow {
                top: -#{$popup-arrow-size - 1};

                &::before,
                &::after {
                    transform: rotate(180deg) translateX(50%);
                }

                &::after {
                    top: 1px;
                }
            }
        }

        // Right-facing arrows
        &[data-popper-placement*='left'] {
            .ba-Popup-arrow {
                right: 0;

                &::before,
                &::after {
                    transform: rotate(-90deg) translateY(-100%);
                    transform-origin: center top;
                }

                &::after {
                    left: -1px;
                }
            }
        }

        // Left-facing arrows
        &[data-popper-placement*='right'] {
            .ba-Popup-arrow {
                left: -#{$popup-arrow-size - 1};

                &::before,
                &::after {
                    transform: rotate(90deg);
                    transform-origin: center top;
                }

                &::after {
                    left: 1px;
                }
            }
        }

        // Bottom-facing arrows
        &[data-popper-placement*='top'] {
            .ba-Popup-arrow {
                top: auto;
                bottom: 0;

                &::before,
                &::after {
                    transform: rotate(0) translateX(-50%);
                }

                &::after {
                    top: -1px;
                }
            }
        }
    }

    .ba-Popup-arrow {
        &::before,
        &::after {
            position: absolute;
            display: block;
            border-right: $popup-arrow-size solid transparent;
            border-left: $popup-arrow-size solid transparent;
            content: '';
        }

        &::before {
            border-top: $popup-arrow-size solid $popup-border-color;
        }

        &::after {
            border-top: $popup-arrow-size solid $popup-content-bg;
        }
    }

    .ba-Popup-content {
        overflow: hidden;
        background-color: $popup-content-bg;
        border: 1px solid $popup-border-color;
        border-radius: 6px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .15);
    }

    .ba-Popup-footer {
        display: flex;
        justify-content: flex-end;
        padding: 5px;
        background-color: $popup-footer-bg;
        border-top: 1px solid $popup-border-color;
    }
}
