@import '~box-ui-elements/es/styles/variables';

.ba-PopupList {
    .ba-Popup-arrow {
        display: none;
    }

    .ba-Popup-content {
        border: solid 1px $bdl-gray-30;
        border-radius: $bdl-border-radius-size;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    }

    .ba-PopupList-prompt {
        padding: 10px;
    }

    // Changing the collab list max-height to avoid possible overlap with next page in IE11
    // The following media query is specific to IE10+
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .ba-ItemList {
            max-height: 140px;
        }
    }
}
