@import '../../variables.scss';

.ba {
    .ba-annotation-list {
        width: 100%;
    }

    .ba-annotation-list-item {
        list-style: none;
        margin-bottom: 23px; // Matches spacing of activity feed items in UI Elements
    }

    // Spaces annotation elements from each other and the dividing border
    // Adds extra spacing above consecutive annotations as well
    .ba-annotation-list-item + .ba-annotation-list-item {
        border-top: 1px solid $seesee;
        padding-top: 15px;
    }
}
