.ba {
    .ba-annotation-simple {
        align-items: center;
        display: flex;
        padding: 10px;
    }

    .ba-annotation-label {
        line-height: 29px;
        margin-bottom: 3px;
    }
}
