@import "../../variables";

.ba {
    .bcs-at-mention-tip {
        display: none;
    }

    .ba-action-controls {
        margin: 0;
        color: $fours;
        white-space: normal;
        background: white;
    }

    .ba-annotation-input-container {
        width: 252px; // Hard-coded width to solve layout issues
        border-top: none;
    }

    .bcs-comment .bcs-comment-headline {
        flex-flow: column wrap;
    }

    .bcs-comment .bcs-comment-content .bcs-comment-user-name ~ .bcs-comment-created-at {
        margin: 0;
    }

    .ba-annotator-label ~ .ba-action-controls .ba-action-controls-draw {
        margin-left: 5px;
    }

    // TABLET-SPECIFIC CSS
    @media #{$mobile}, #{$tablet} {
        .ba-create-popover .ba-action-controls {
            justify-content: flex-end;
            border: none;
            box-shadow: none;
        }

        .ba-annotation-input-container,
        .ba-create-popover .ba-annotation-input-container {
            bottom: 0;
            width: 100%;
            padding: 15px;
            background: white;
            border-top: 1px solid $see-see;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
        }

        .ba-annotator-label ~ .ba-action-controls .ba-action-controls-draw,
        .ba-annotator-label ~ .ba-action-controls .ba-action-controls-highlight {
            margin: 0;
            border-left: 0;
        }
    }

    // MOBILE CSS
    @media #{$mobile} {
        .ba-action-controls {
            justify-content: flex-end;
            width: 100%;
            background: white;
        }
    }
}
