@import '../../variables';

.ba {
    .bcs-at-mention-tip {
        display: none;
    }

    .ba-action-controls {
        margin: 0;
        color: $fours;
        white-space: normal;
        background: white;
    }

    .ba-annotation-input-container {
        width: 252px; // Hard-coded width to solve layout issues
        border-top: none;
    }

    .bcs-comment .bcs-comment-headline {
        flex-flow: column wrap;
    }

    .bcs-comment .bcs-comment-content .bcs-comment-user-name ~ .bcs-comment-created-at {
        margin: 0;
    }

    .ba-annotator-label ~ .ba-action-controls .ba-action-controls-draw {
        margin-left: 5px;
    }
}
