@import '../../variables';

.ba {
    .btn-plain.ba-drawing-delete-btn {
        padding-left: 5px;
        padding-right: 5px;

        svg,
        .icon {
            fill: lighten($better-black, 10%);
        }
    }

    .btn-plain.ba-drawing-delete-btn:hover {
        padding-left: 5px;
        padding-right: 5px;

        svg,
        .icon {
            fill: $better-black;
        }
    }
}
