@import '../../variables';

.ba {
    .ba-action-controls-draw {
        $button-spacing: 5px;

        display: flex;
        margin-left: -#{$button-spacing};
        margin-right: -#{$button-spacing};

        .btn-plain {
            flex-grow: 1;
            padding-left: $button-spacing;
            padding-right: $button-spacing;

            .fill-color {
                fill: $sevens;
            }
        }

        .btn-plain:hover .fill-color {
            fill: $better-black;
        }
    }

    // MOBILE & TABLET CSS
    @media #{$mobile}, #{$tablet} {
        .ba-inline-popover .ba-action-controls-draw {
            background: white;
            border-top: 1px solid $seesee;
            bottom: 0;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
            left: 0;
            margin: 0;
            padding: 15px;
            position: fixed;
            width: 100%;
        }

        .ba-action-controls-draw .btn-plain,
        .ba-action-controls-draw .btn-plain:hover {
            padding: 10px;
        }

        .ba-drawing-save-btn,
        .ba-drawing-save-btn:hover {
            border-right: 1px solid $seesee;
        }
    }
}
