@import '../../variables';

.ba {
    .btn-plain.ba-highlight-btn,
    .btn-plain.ba-highlight-comment-btn {
        padding-left: 5px;
        padding-right: 5px;
    }

    .icon-annotation-highlight,
    .icon-annotation-highlight-comment .icon {
        fill: lighten($better-black, 10%);
    }

    .ba-saved-highlight {
        fill: $highlight-yellow;
    }

    .btn-plain.ba-highlight-btn:hover,
    .btn-plain.ba-highlight-comment-btn:hover {
        padding-left: 5px;
        padding-right: 5px;

        .ba-saved-highlight {
            fill: $highlight-yellow-hover;
        }

        .icon-annotation-highlight,
        .icon-annotation-highlight-comment .icon {
            fill: $better-black;
        }
    }
}
