@import '../../variables';

.ba {
    .ba-action-controls-highlight {
        $button-spacing: 5px;

        display: flex;

        .btn-plain {
            flex-grow: 1;
            padding: 10px;

            .icon-annotation-highlight,
            .icon-annotation-highlight-comment .icon {
                fill: $sevens;
            }

            .icon-annotation-highlight.ba-saved-highlight {
                fill: $highlight-yellow;
            }

            &:hover {
                .icon-annotation-highlight,
                .icon-annotation-highlight-comment .icon {
                    fill: $better-black;
                }

                .icon-annotation-highlight.ba-saved-highlight {
                    fill: $highlight-yellow-hover;
                }
            }
        }

        .ba-highlight-btn,
        .ba-highlight-btn:hover {
            padding-right: $button-spacing;
        }

        .ba-highlight-comment-btn,
        .ba-highlight-comment-btn:hover {
            padding-left: $button-spacing;
        }
    }
}
