@import "../../variables";

.ba {
    .ba-action-controls-highlight {
        $button-spacing: 5px;

        display: flex;

        .btn-plain {
            flex-grow: 1;
            padding: 10px;

            .icon-annotation-highlight,
            .icon-annotation-highlight-comment .icon {
                fill: $sevens;
            }

            .icon-annotation-highlight.ba-saved-highlight {
                fill: $highlight-yellow;
            }

            &:hover {
                .icon-annotation-highlight,
                .icon-annotation-highlight-comment .icon {
                    fill: $better-black;
                }

                .icon-annotation-highlight.ba-saved-highlight {
                    fill: $highlight-yellow-hover;
                }
            }
        }

        .ba-highlight-btn,
        .ba-highlight-btn:hover {
            padding-right: $button-spacing;
        }

        .ba-highlight-comment-btn,
        .ba-highlight-comment-btn:hover {
            padding-left: $button-spacing;
        }
    }

    // MOBILE & TABLET CSS
    @media #{$mobile}, #{$tablet} {
        .ba-inline-popover .ba-action-controls-highlight {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 15px;
            background: white;
            border-top: 1px solid $seesee;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
        }

        .ba-action-controls-highlight .btn-plain,
        .ba-action-controls-highlight .btn-plain:hover {
            padding: 10px;
        }

        .ba-highlight-comment-btn,
        .ba-highlight-comment-btn:hover {
            border-left: 1px solid $seesee;
        }
    }
}
