@import '../../variables';

.ba {
    .ba-action-controls-highlight {
        display: flex;
    }

    .ba-action-controls-highlight .btn-plain {
        flex-grow: 1;
        padding-left: 5px;
        padding-right: 5px;
    }

    .icon-annotation-highlight,
    .icon-annotation-highlight-comment .icon {
        fill: $sevens;
    }

    .ba-saved-highlight {
        fill: $highlight-yellow;
    }

    .ba-action-controls-highlight .btn-plain:hover {
        padding-left: 5px;
        padding-right: 5px;

        .icon-annotation-highlight,
        .icon-annotation-highlight-comment .icon {
            fill: $better-black;
        }

        .icon-annotation-highlight.ba-saved-highlight {
            fill: $highlight-yellow-hover;
        }
    }

    // MOBILE & TABLET CSS
    @media #{$mobile}, #{$tablet} {
        .ba-inline .ba-action-controls-highlight {
            background: white;
            border-top: 1px solid $seesee;
            bottom: 0;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
            left: 0;
            margin: 0;
            padding: 15px;
            position: fixed;
            width: 100%;
        }

        .ba-action-controls-highlight .btn-plain,
        .ba-action-controls-highlight .btn-plain:hover {
            padding: 10px;
        }

        .ba-highlight-comment-btn,
        .ba-highlight-comment-btn:hover {
            border-left: 1px solid $seesee;
        }
    }
}
