@import '../../variables';

.ba {
    .ba-popover {
        cursor: auto; // Overrides cursor: none from annotation mode
        max-width: 282px;
        position: absolute;
        z-index: 3;
    }

    .ba-popover-caret {
        left: 50%;
        position: relative;
        z-index: 3;

        // CSS arrow for caret above container
        &::after,
        &::before {
            border: solid transparent;
            content: ' ';
            height: 0;
            left: 50%;
            pointer-events: none;
            position: absolute;
            top: 0;
            transform: rotate(-225deg);
            width: 0;
        }

        &::after {
            border-color: transparent transparent $white $white;
            border-width: 6px;
            margin: -4px 0 0 -6px;
        }

        &::before {
            border-color: transparent transparent $sf-fog $sf-fog;
            border-width: 6px;
            margin: -5px 0 0 -6px;
        }
    }

    .overlay {
        border: 1px solid $seesee;
        border-radius: 4px;
        display: inline-block;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 15px;
        white-space: normal;
        width: inherit;
    }

    .ba-inline .overlay {
        display: inline-flex;
    }

    .bcs-comment-input-container {
        border-top: none;
        width: 252px; // Hard-coded width to solve layout issues
    }

    .bcs-comment-input-form-container {
        margin-right: 0;

        form {
            margin: 0;
        }
    }

    .bcs-comment-input {
        margin-top: 0;

        ~ .bcs-comment-input-controls .btn {
            margin-bottom: 0;
        }
    }

    .ba-annotation-label {
        line-height: 23px;
        padding: 3px 0;
    }

    .ba-annotation-label ~ .ba-action-controls {
        border-left: 1px solid $see-see;
        margin-left: 10px;
    }
}
