@import '../../variables';

.ba {
    .ba-annotation-popover {
        cursor: auto; // Overrides cursor: none from annotation mode
        width: 282px; // Hard-coded width to solve layout issues
    }

    .overlay {
        border: 1px solid $seesee;
        border-radius: 4px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 15px;
        white-space: normal;
    }

    .bcs-comment-input-container {
        border-top: none;
    }

    .bcs-comment-input-form-container {
        margin-right: 0;

        form {
            margin: 0;
        }
    }

    .bcs-comment-input {
        margin-top: 0;

        ~ .bcs-comment-input-controls .btn {
            margin-bottom: 0;
        }
    }
}
