@import '../../variables';

.ba {
    .ba-annotation-label {
        line-height: 23px;
        padding: 3px 0;
    }

    .ba-annotation-label ~ .ba-action-controls {
        border-left: 1px solid $see-see;
        margin-left: 10px;
    }

    // MOBILE & TABLET CSS
    @media #{$mobile}, #{$tablet} {
        .ba-annotation-label {
            background: white;
            border-bottom: 1px solid #ccc;
            justify-content: flex-start;
            padding: 15px;
            width: 100%;
        }
    }
}
