@import '~box-ui-elements/es/styles/variables';

.ba-ReplyField {
    @import '~draft-js/dist/Draft';

    .DraftEditor-editorContainer {
        border-left: none;
    }

    .public-DraftEditorPlaceholder-hasFocus,
    .public-DraftEditorPlaceholder-root {
        margin: 0;
        padding: 12px;
        color: $bdl-gray-62;
    }

    // Element selector needed to override inherited BUIE styles
    div[contentEditable='true'],
    div[contentEditable='false'] {
        min-height: 80px;
        max-height: 200px;
        overflow-y: auto;

        &,
        &:hover,
        &:focus {
            width: 300px;
            padding: 12px;
            color: $bdl-gray;
            border: none;
            box-shadow: none;
        }
    }

    div[contentEditable='false'] {
        &,
        &:hover,
        &:focus {
            color: $bdl-gray-62;
            cursor: default;
        }
    }
}
