@import '~box-ui-elements/es/styles/variables';
@import './RegionRect';

.ba-RegionAnnotation {
    @include ba-RegionRect;

    background: none;
    border: none;
    box-shadow: none;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}
