.ba-RegionAnnotations-creator,
.ba-RegionAnnotations-list,
.ba-RegionAnnotations-target {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, .25));
}

.ba-RegionAnnotations-creator,
.ba-RegionAnnotations-target {
    .ba-RegionRect {
        stroke-width: 4px;
    }
}

.ba-RegionAnnotations-creator {
    pointer-events: auto;
    touch-action: none;
}

.ba-RegionAnnotations-list {
    pointer-events: none;

    &.is-listening {
        .ba-AnnotationTarget {
            pointer-events: auto; // Delegate event control to avoid re-rendering every target on mousedown/up
        }
    }
}

.ba-RegionAnnotations-popup {
    pointer-events: auto; // Swallow all pointer events that occur within the popup
}
