@import '~box-ui-elements/es/styles/variables';

.ba-RegionAnnotation {
    &:focus,
    &:hover {
        outline: none;
        cursor: pointer;
    }

    &:focus,
    &:hover,
    &.is-active {
        .ba-RegionAnnotation-rect {
            stroke-width: 4px;
        }
    }
}

.ba-RegionAnnotation-rect {
    fill: none;
    stroke: $bdl-yellorange;
    stroke-width: 2px;
}
