@import '../../common.scss';

.ba .ba-annotation {
    @import '~box-react-ui/lib/styles/common/inline-notifications';

    position: relative;
    z-index: 1;

    &.ba-is-pending {
        opacity: 50%;
    }

    .ba-annotation-content {
        display: flex;
        min-width: 0;
        width: 100%;
    }

    .ba-annotation-avatar {
        flex-shrink: 0;
        margin-right: 17px; // Spaces avatar circle from text to the right
        margin-top: 3px; // Required to top align avatar circle with text to the right
    }

    .bcs-comment-text {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .bcs-comment-error {
        display: block;
        padding: 15px;
    }

    .bcs-comment-error-action {
        color: $king-crimson;
        display: block;
        margin-top: 5px; // Required to distinguish between action and error text
        text-decoration: underline;
    }
}

.ba-mobile-annotation-dialog .ba-annotation {
    .bcs-comment-text {
        font-size: 15px;
        width: 100%;
    }
}
