@import '../../common.scss';

.ba .ba-annotation {
    @import '~box-react-ui/lib/styles/common/inline-notifications';

    border-bottom: 1px solid $ffive;

    // Spaces annotation elements from each other and the dividing border
    // Adds extra spacing above consecutive annotations as well
    margin-top: 23px; // Matches spacing of activity feed items in UI Elements
    padding-bottom: 15px;
    position: relative;
    z-index: 1;

    &:first-child {
        margin: 0;
    }

    &:last-child {
        border-bottom: 0;
        padding-bottom: 23px; // Adds extra spacing below consecutive annotations and textarea
    }

    &.ba-is-pending {
        opacity: 50%;
    }

    &:hover,
    &.ba-is-focused {
        .bcs-comment-delete-container {
            opacity: 1;
        }
    }

    .ba-annotation-content {
        display: flex;
        min-width: 0;
        width: 100%;
    }

    .ba-annotation-avatar {
        flex-shrink: 0;
        margin-right: 17px; // Spaces avatar circle from text to the right
        margin-top: 3px; // Required to top align avatar circle with text to the right
    }

    .ba-annotation-text {
        color: $fours;
        flex: 1;
        opacity: 1;
    }

    .ba-annotation-user-name {
        color: $twos;
        font-weight: bold;
        margin-right: 10px; // Spaces user name from timestamp
    }

    .ba-annotation-created-at {
        color: $nines;
        cursor: default;
        font-size: smaller;
    }

    .ba-annotation-headline {
        display: flex;
        flex-flow: row wrap;
    }

    .bcs-comment-text {
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    .bcs-comment-delete-container {
        margin-top: 3px; // Required to top align trash icon with text to the left
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        &.ba-is-confirming {
            opacity: 1;
        }
    }

    .bcs-comment-delete {
        vertical-align: top;
    }

    .bcs-comment-error {
        display: block;
        padding: 15px;
    }

    .bcs-comment-error-action {
        color: $king-crimson;
        display: block;
        margin-top: 5px; // Required to distinguish between action and error text
        text-decoration: underline;
    }
}

.flyout-overlay {
    .bcs-comment-delete-yes,
    .bcs-comment-delete-no {
        font-size: inherit;
    }
}

.ba-mobile-annotation-dialog .ba-annotation {
    .bcs-comment-text {
        width: 100%;
    }

    .ba-annotation-avatar {
        width: 43px;

        img {
            height: 40px;
            width: 40px;
        }
    }

    .ba-annotation-user-name {
        font-size: 16px;
    }

    .ba-annotation-created-at {
        font-size: 14px;
    }

    .bcs-comment-text,
    .bcs-comment-delete-container {
        font-size: 15px;
    }

    .bcs-comment-delete-container {
        opacity: 1;
    }

    .bcs-comment-delete svg {
        height: 18px;
        width: 18px;
    }
}
