@import '../../variables.scss';

.ba .ba-annotation-created-at {
    color: $nines;
    cursor: default;
    font-size: smaller;
}

.ba-mobile-annotation-dialog .ba-annotation-created-at {
    font-size: 14px;
}
