@import '~box-ui-elements/es/styles/variables';
@import '../highlight/HighlightCreator';

.bp-doc {
    .ba-Layer {
        position: absolute;
        top: 15px; // Padding on each page as provided by Preview SDK
        bottom: 15px; // Padding on each page as provided by Preview SDK
        left: 0;
        width: 100%;
        pointer-events: none;
    }

    .textLayer {
        pointer-events: none; // Ensures that click events are received on the create region layer

        span {
            pointer-events: auto; // Text layer still receives text highlight events
        }
    }

    &.ba-is-highlighting {
        .textLayer {
            > span {
                @include ba-HighlightCreator-cursor;
            }

            ::selection {
                background-color: rgba($bdl-yellow, .33);
            }
        }
    }

    &.ba-is-create-region {
        .textLayer > span {
            pointer-events: none;
        }
    }
}
