@import '../highlight/HighlightCreator';

.bp-doc {
    .ba-Layer {
        position: absolute;
        top: 15px; // Padding on each page as provided by Preview SDK
        bottom: 15px; // Padding on each page as provided by Preview SDK
        left: 0;
        width: 100%;
        pointer-events: none;
    }

    &.ba-is-highlighting {
        .textLayer > span {
            @include ba-HighlightCreator-cursor;
        }
    }
}
