html
  head
    link(rel="stylesheet" href='annotations.css')
    script(src='annotations.js')
    link(rel="stylesheet" href='https://cdn01.boxcdn.net/platform/preview/1.36.0/en-US/preview.css')
    script(src='https://cdn01.boxcdn.net/platform/preview/1.36.0/en-US/preview.js')
    style.
      .preview-container {
          border: 1px solid #eee;
          width: 100%;
      }
  body
    div(class='preview-container')
    script.
      const options = {
          Image: {
              enabledTypes: ['point']
          },
          Document: {
              enabledTypes: ['point', 'draw']
          }
      };
      const boxAnnotations = new BoxAnnotations(options);
      const preview = new Box.Preview();
      preview.show("#{file_id}", "#{token}", {
          container: '.preview-container',
          showDownload: true,
          boxAnnotations
      });