<!DOCTYPE html>
html
  head
    <meta charset="UTF-8">
    link(rel="stylesheet" href='annotations.css')
    script(src='annotations.js')
    link(rel="stylesheet" href='https://cdn01.boxcdn.net/platform/preview/1.37.0/en-US/preview.css')
    script(src='https://cdn01.boxcdn.net/platform/preview/1.37.0/en-US/preview.js')
    style.
      .preview-container {
          border: 1px solid #eee;
          width: 100%;
          height: 600px;
      }
  body
    div(class='preview-container')
    script.
      var options = {
          Image: {
              enabledTypes: ['point']
          },
          Document: {
              enabledTypes: ['point', 'draw']
          }
      };
      var boxAnnotations = new BoxAnnotations(options);
      var preview = new Box.Preview();
      preview.show("#{file_id}", "#{token}", {
          container: '.preview-container',
          showDownload: true,
          boxAnnotations: boxAnnotations
      });