@import '~box-ui-elements/es/styles/variables';

@mixin ba-HighlightAnnotation-ie-edge {
    .ba-HighlightAnnotation {
        &.is-active {
            .ba-HighlightAnnotation-rect {
                filter: none;
            }
        }
    }
}

.ba-HighlightAnnotation {
    &:focus {
        outline: none;
    }

    &.is-active,
    &.is-hover {
        .ba-HighlightAnnotation-rect {
            fill-opacity: .66;
        }
    }

    &.is-active {
        .ba-HighlightAnnotation-rect {
            filter: url(#shadow);
        }
    }
}

.ba-HighlightAnnotation-rect {
    fill-opacity: .33;
    transition: fill-opacity 200ms ease 25ms;
    stroke: $white;
    stroke-width: 1;
}

/* Disable the is-active filter applied to the ba-HighlightAnnotation-rect when active for IE11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @include ba-HighlightAnnotation-ie-edge;
}

/* Disable the is-active filter applied to the ba-HighlightAnnotation-rect when active for Edge */
@supports (-ms-ime-align: auto) {
    @include ba-HighlightAnnotation-ie-edge;
}
