@import '../src/common';

.ba .annotation-container {
    margin-top: 10px;
    padding-bottom: 10px;

    .ba-popover {
        position: relative;
        width: fit-content;
    }

    @media #{$mobile}, #{$tablet} {
        border: 1px solid $seesee;
        height: 400px;
        overflow: hidden;

        .ba-popover {
            width: 100%;
        }
    }
}

.action-controls-container {
    border: 1px solid $see-see;
    border-radius: 3px;
    margin: 10px;
}
