@import '../src/common';

.ba .annotation-container {
    margin-top: 10px;
    padding-bottom: 10px;

    .ba-popover {
        width: fit-content;
    }

    .ba-popover-overlay {
        position: relative;
    }
}

.action-controls-container {
    border: 1px solid $see-see;
    border-radius: 3px;
    margin: 10px;
}
