@import '../src/variables';

.annotation-container {
    margin-top: 10px;
    padding-bottom: 10px;
}

.action-controls-container {
    border: 1px solid $see-see;
    border-radius: 3px;
    margin: 10px;
}
