.ba {
    .bcs-comment-input-container {
        border-top: none;
    }

    .bcs-comment-input-form-container {
        margin-right: 0;

        form {
            margin: 0;
        }
    }

    .bcs-comment-input {
        margin-top: 0;

        ~ .bcs-comment-input-controls .btn {
            margin-bottom: 0;
        }
    }
}
