.ba {
    @import "../../variables.scss";

    .ba-comment-list {
        width: 100%;
        max-height: 282px;
        overflow-y: auto;
        user-select: text;
    }

    .ba-comment-list-item {
        @import "~box-react-ui/lib/styles/common/inline-notifications";

        margin-bottom: 15px; // Matches spacing of activity feed items in UI Elements
        list-style: none;
    }

    // Spaces comment elements from each other and the dividing border
    // Adds extra spacing above consecutive annotations as well
    .ba-comment-list-item + .ba-comment-list-item {
        padding-top: 15px;
        border-top: 1px solid $seesee;
    }

    .bcs-comment,
    .bcs-comment-user-name ~ .bcs-comment-created-at {
        margin: 0;
    }

    .bcs-comment-content {
        text-align: left;
    }

    // MOBILE CSS
    @media #{$mobile}, #{$tablet} {
        .ba-comment-list {
            flex-grow: 1;
            width: unset;
            max-height: unset;
            padding: 15px;
            background: white;
        }

        .ba-comment-list-item {
            margin-bottom: 30px;
            padding-top: 15px;
        }

        .ba-comment-list-item + .ba-comment-list-item {
            padding-top: 30px;
        }
    }
}
