.ba {
    @import '../../variables.scss';

    .ba-comment-list {
        max-height: 282px;
        overflow-y: scroll;
        width: 100%;
    }

    .ba-comment-list-item {
        @import '~box-react-ui/lib/styles/common/inline-notifications';

        list-style: none;
        margin-bottom: 15px; // Matches spacing of activity feed items in UI Elements
    }

    // Spaces comment elements from each other and the dividing border
    // Adds extra spacing above consecutive annotations as well
    .ba-comment-list-item + .ba-comment-list-item {
        border-top: 1px solid $seesee;
        padding-top: 15px;
    }

    .bcs-comment {
        margin: 0;
    }

    // MOBILE CSS
    @media #{$mobile}, #{$tablet} {
        .ba-comment-list {
            background: white;
            flex-grow: 1;
            max-height: unset;
            padding: 15px;
            width: unset;
        }

        .ba-comment-list-item {
            margin-bottom: 30px;
            padding-top: 15px;
        }

        .ba-comment-list-item + .ba-comment-list-item {
            padding-top: 30px;
        }
    }
}
