@import './variables';

$highlight-yellow: #fed94e;
$highlight-yellow-active-hover: #ffc900;
$highlight-yellow-hover: #f5b31b;

// Taken from Box React UI avatar
$avatar-color-1: #18bbf7;
$avatar-color-2: #0d67c7;
$avatar-color-3: #052e5c;
$avatar-color-4: #747679;
$avatar-color-5: #fda308;
$avatar-color-6: #98c332;
$avatar-color-7: #159f45;
$avatar-color-8: #b800b2;
$avatar-color-9: #f22c44;

$tablet: '(min-width: 768px)';

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    src: local('Lato Regular'), local('Lato-Regular'), url('https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Regular.woff2') format('woff2'), url('https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    src: local('Lato Bold'), local('Lato-Bold'), url('https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Bold.woff2') format('woff2'), url('https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Bold.woff') format('woff');
}

@import '~box-react-ui/lib/styles/common/overlay';

.ba {
    @include reset;

    @import '~box-react-ui/lib/styles/common/links';
    @import '~box-react-ui/lib/styles/common/forms';
    @import '~box-react-ui/lib/styles/common/buttons';

    background: $white;
    border: 0 none;
    /* stylelint-disable declaration-no-important */
    box-sizing: border-box !important;
    /* stylelint-enable declaration-no-important */
    color: $twos;
    height: 100%;
    letter-spacing: .3px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0;
    user-select: none;
    width: 100%;

    .ReactModal__Body--open & {
        position: relative;
    }

    /* stylelint-disable */
    ::-webkit-input-placeholder {
        @include placeholder;
    }

    ::-moz-placeholder {
        @include placeholder;
    }

    :-ms-input-placeholder {
        @include placeholder;
    }

    ::-webkit-file-upload-button {
        cursor: pointer;
    }

    /* stylelint-enable */
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    .btn-plain,
    input,
    textarea,
    select,
    .select-button {
        font: inherit;
    }
}

.ba-annotation-dialog,
.ba-create-annotation-dialog {
    // stylelint-disable no-duplicate-at-import-rules
    @import '~box-react-ui/lib/styles/common/forms';
    @import '~box-react-ui/lib/styles/common/buttons';
}

.flyout-overlay {
    @import '~box-react-ui/lib/styles/common/links';
    @import '~box-react-ui/lib/styles/common/buttons';
}

/**************************************
 * Accessibility
 **************************************/

.accessibility-hidden {
    top: auto; /* Some browsers ignore left without a top */
    left: -9999px;
    position: absolute;
}
