@import './variables';

@font-face {
    font-weight: normal;
    font-family: 'Lato';
    font-style: normal;
    src: local('Lato Regular'), local('Lato-Regular'), url('https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Regular.woff2') format('woff2'), url('https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Regular.woff') format('woff');
}

@font-face {
    font-weight: bold;
    font-family: 'Lato';
    font-style: normal;
    src: local('Lato Bold'), local('Lato-Bold'), url('https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Bold.woff2') format('woff2'), url('https://cdn01.boxcdn.net/fonts/1.0.2/lato/Lato-Bold.woff') format('woff');
}

.flyout-overlay {
    @import '~box-ui-elements/es/styles/common/overlay';
    @import '~box-ui-elements/es/styles/common/links';
    @import '~box-ui-elements/es/styles/common/buttons';
}

.ba {
    @include reset;

    /* stylelint-disable no-duplicate-at-import-rules */
    @import '~box-ui-elements/es/styles/common/links';
    @import '~box-ui-elements/es/styles/common/buttons';
    /* stylelint-enable no-duplicate-at-import-rules */

    @import '~box-ui-elements/es/styles/common/forms';
    /* stylelint-disable declaration-no-important */
    box-sizing: border-box !important;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* stylelint-enable declaration-no-important */
    color: $twos;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 20px;
    letter-spacing: .3px;
    background: $white;
    border: 0 none;
    outline: none;
    user-select: none;

    .ReactModal__Body--open & {
        position: relative;
    }

    /* stylelint-disable */
    ::-webkit-input-placeholder {
        @include placeholder;
    }

    ::-moz-placeholder {
        @include placeholder;
    }

    :-ms-input-placeholder {
        @include placeholder;
    }

    ::-webkit-file-upload-button {
        cursor: pointer;
    }

    /* stylelint-enable */
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
        }
    }

    .btn-plain,
    input,
    textarea,
    select,
    .select-button {
        font: inherit;
    }
}

.ba-annotation-dialog,
.ba-create-annotation-dialog {
    // stylelint-disable no-duplicate-at-import-rules
    @import '~box-ui-elements/es/styles/common/forms';
    @import '~box-ui-elements/es/styles/common/buttons';
}

/**************************************
 * Accessibility
 **************************************/

.accessibility-hidden {
    position: absolute;
    top: auto; /* Some browsers ignore left without a top */
    left: -9999px;
}
