@import '~box-react-ui/lib/styles/variables';
@import '~box-react-ui/lib/styles/common/buttons';
@import '~box-react-ui/lib/styles/common/forms';

$highlight-yellow: #fed94e;
$highlight-yellow-active-hover: #ffc900;
$highlight-yellow-hover: #f5b31b;

// Taken from Box React UI avatar
$avatar-color-1: #18bbf7;
$avatar-color-2: #0d67c7;
$avatar-color-3: #052e5c;
$avatar-color-4: #747679;
$avatar-color-5: #fda308;
$avatar-color-6: #98c332;
$avatar-color-7: #159f45;
$avatar-color-8: #b800b2;
$avatar-color-9: #f22c44;

$tablet: '(min-width: 768px)';
