@import 'common';

.ba-annotate-mode-background {
    background-color: $fours;
}

.ba-mode-header,
.bp-header.ba-mode-header {
    background-color: $twos;
    border: none;
    position: relative;
}

.bp-header button.ba-btn-annotate-point-exit,
.bp-header button.ba-btn-annotate-draw-cancel {
    background-color: $twos;
    border: solid $off-white 1px;
    color: $off-white;

    &:hover {
        background-color: $black;
    }
}

.bp-header button.ba-btn-annotate-draw-post {
    background-color: $off-white;
    color: $twos;

    &:hover {
        background-color: $white;
    }
}

.bp-container .ba-point-post-cancel-container,
.bp-container .ba-draw-post-cancel-container {
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 0;

    button {
        height: 32px;
        margin: 8px;
    }
}

.bp-container .ba-draw-undo-redo-container {
    margin: 0 auto;

    .is-disabled.ba-btn-annotate-draw-undo,
    .is-disabled.ba-btn-annotate-draw-redo,
    .ba-btn-annotate-draw-undo,
    .ba-btn-annotate-draw-redo,
    button.ba-btn-annotate-draw-undo,
    button.ba-btn-annotate-draw-redo {
        background: none;
        border: none;
        margin: 5px;

        svg {
            fill: $off-white;
            vertical-align: middle;
        }
    }
}

.ba-annotation-caret {
    left: 50%;
    position: absolute;

    // CSS arrow for caret above container
    &::after,
    &::before {
        border: solid transparent;
        content: ' ';
        height: 0;
        left: 50%;
        pointer-events: none;
        position: absolute;
        top: 0;
        transform: rotate(-225deg);
        width: 0;
    }

    &::after {
        border-color: transparent transparent $white $white;
        border-width: 6px;
        margin: -4px 0 0 -6px;
    }

    &::before {
        border-color: transparent transparent $sf-fog $sf-fog;
        border-width: 6px;
        margin: -5px 0 0 -6px;
    }
}

.ba-annotation-drawing-dialog,
.ba-annotation-highlight-dialog .bp-btn-plain,
.ba-annotation-highlight-dialog .bp-btn-plain:hover {
    padding-left: 5px;
    padding-right: 5px;

    .icon,
    svg {
        fill: lighten($better-black, 10%);
    }

    &:hover .icon,
    &:hover svg {
        fill: $better-black;
    }
}

.ba-highlight-comment-btn:hover .icon {
    fill: $white;
}

.ba-add-highlight-btn:hover svg {
    fill: $highlight-yellow;
}

.ba-is-text-highlighted .ba-annotation-highlight-dialog .bp-btn-plain {
    svg {
        fill: $highlight-yellow;
    }

    &.bp-is-active svg {
        fill: $highlight-yellow-active-hover;
    }

    &:hover svg {
        fill: $highlight-yellow-hover;
    }
}

.bp-btn-plain.bp-btn-annotate-point.bp-is-active svg {
    fill: $box-blue;
}

//------------------------------------------------------------------------------
// CSS for points and dialogs
//------------------------------------------------------------------------------

.ba-annotation-dialog,
.ba-create-annotation-dialog {
    border-top: 20px solid transparent; // Transparent border for hover detection
    cursor: auto; // Overrides cursor: none from annotation mode
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    text-align: left;
    z-index: 130; // Annotation dialog should be above other content

    .annotation-container {
        background-color: $white;
        border: 1px solid $seesee;
        border-radius: 4px;
        overflow-x: hidden;
        overflow-y: auto;
        white-space: normal;
        width: 282px; // Hard-coded width to solve layout issues
    }

    .ba-annotation-list {
        width: 100%;

        > li {
            border-bottom: 1px solid $seesee;

            &:first-child .ba-annotation {
                margin-top: 0;
            }

            &:last-child {
                border-bottom: 0;
                margin-bottom: 10px;
            }
        }
    }

    .annotation-container section {
        padding: 15px;
    }

    .ba-textarea {
        display: block;
        font-size: 13px;
        height: 34px;
        line-height: 13px;
        margin: 0;
        max-width: 250px;
        min-height: 68px;
        padding: 7px;
        resize: vertical;
        transition: border-color linear .15s, box-shadow linear .1s;
        width: 100%;

        &.ba-invalid-input {
            border-color: fade-out($great-balls-of-fire, .5);
        }
    }

    .button-container {
        margin-top: 15px;
        position: relative;
        text-align: right;
        width: 100%;

        .bp-btn:last-child {
            margin-right: 0;
        }
    }
}

ul .ba-annotation-list-item {
    border-bottom: 1px solid $ffive;
    list-style: none;

    // Spaces annotation elements from each other and the dividing border
    // Adds extra spacing above consecutive annotations as well
    margin-top: 23px; // Matches spacing of activity feed items in UI Elements
    padding-bottom: 15px;

    &:first-child {
        margin: 0;
    }

    &:last-child {
        border-bottom: 0;
    }
}

.ba-create-annotation-dialog .ba-create-comment {
    background-color: $white;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 9px;
    white-space: normal;
    width: 267px; // Hard-coded width to solve layout issues
}

.ba-point-annotation-marker {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    width: 24px;

    &:hover {
        z-index: 130; // Ensure activated point annotation icon is above dialog
    }

    svg {
        fill: fade-out($box-blue, .35);
        transition: fill .5s;
    }

    &:hover svg {
        fill: $box-blue;
    }
}

.ba-point-annotation-marker.ba-annotation-dialog-flipped {
    path,
    rect {
        display: none;
    }
}

.ba-annotation-dialog-flipped {
    .ba-annotation-caret {
        transform: rotate(180deg);
    }
}

//------------------------------------------------------------------------------
// CSS for highlights
//------------------------------------------------------------------------------
.ba-annotation-layer-highlight,
.ba-annotation-layer-highlight-comment {
    cursor: text;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 15px; // Match 15px padding top on page
}

.ba-highlight-dialog {
    border-top: 20px solid transparent; // Transparent border for hover detection
    color: $fours;
    display: table;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    z-index: 130;
}

.ba-annotation-drawing-dialog,
.ba-annotation-highlight-dialog,
.ba-annotation-highlight-dialog:hover {
    background-color: $white;
    border: 1px solid $seesee;
    border-radius: 3px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px 6px;

    // Center buttons
    .ba-add-highlight-btn {
        padding-top: 1px;
    }

    .ba-highlight-comment-btn {
        padding-top: 3px;
    }

    .ba-btn-annotate-draw-add,
    .ba-btn-annotate-draw-delete {
        color: lighten($better-black, 10%);
        padding: 8px;

        &:hover,
        &:active {
            color: $better-black;
            padding: 8px;
        }
    }

    .ba-btn-annotate-draw-delete,
    .ba-btn-annotate-draw-delete:active,
    .ba-btn-annotate-draw-delete:hover,
    .ba-btn-annotate-draw-add,
    .ba-btn-annotate-draw-add:active,
    .ba-btn-annotate-draw-add:hover {
        font-size: 13px;
        margin-top: -3px;
        padding: 4px;
    }
}

.ba-create-highlight-comment {
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 9px;
    white-space: normal;
}

.bp-use-default-cursor {
    cursor: default;

    // Overrides pdf_viewer.css
    .textLayer > div {
        cursor: default;
    }
}

// Quad point positioning - the helper divs are positioned relative to the Rangy-created element
.bp-doc .rangy-highlight {
    background-color: #ff0;
    position: relative;
}

// These helper divs allow us to calculate the quad points of an element
.ba-quad-corner-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.ba-quad-corner {
    background: none;
    height: 0;
    position: absolute;
    width: 0;

    &.corner1 {
        bottom: 0;
        left: 0;
    }

    &.corner2 {
        bottom: 0;
        right: 0;
    }

    &.corner3 {
        right: 0;
        top: 0;
    }

    &.corner4 {
        left: 0;
        top: 0;
    }
}

.ba-annotation-drawing-label,
.ba-annotation-highlight-label {
    padding: 8px 4px;
    width: 100%;
}

//------------------------------------------------------------------------------
// Draw annotation mode
//------------------------------------------------------------------------------
.ba-annotation-draw-boundary {
    animation: dash 1s linear infinite;
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-dasharray: 5;
    stroke-width: 3px;
}

@keyframes dash {
    from {
        stroke-dashoffset: 10;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.ba-annotation-draw .textLayer {
    pointer-events: none;

    > div {
        pointer-events: auto;
    }
}

.ba-annotation-layer-draw,
.ba-annotation-layer-draw-in-progress {
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 15px; // Match 15px padding top on page
}

//------------------------------------------------------------------------------
// Annotation mode
//------------------------------------------------------------------------------
.ba-annotation-mode .page,
.ba-annotation-mode .ba-annotation-layer-highlight,
.ba-annotation-mode .ba-annotation-layer-highlight-comment,
.ba-annotation-mode .textLayer > div,
.ba-annotation-mode > img,
.ba-annotation-mode img {
    cursor: crosshair;
}

.ba-draw-mode .ba-point-annotation-marker {
    cursor: crosshair;

    &:focus {
        outline: none;
    }
}

// Needed to allow point annotations since PDF.js adds a funky mousedown handler
// that helps with text selection - we need to disable this since it interacts
// badly with point annotations on non-text divs in non-Chrome browsers
.ba-annotation-mode .textLayer > div,
.ba-annotation-mode .textLayer .endOfContent {
    pointer-events: none;
}

@import './MobileAnnotator';
