@import 'common';

.ba-annotate-mode-background {
    background-color: $fours;
}

.ba-mode-header,
.bp-header.ba-mode-header {
    background-color: $twos;
    border: none;
    position: relative;
}

.bp-header button.ba-btn-annotate-point-exit,
.bp-header button.ba-btn-annotate-draw-cancel {
    background-color: $twos;
    border: solid $off-white 1px;
    color: $off-white;

    &:hover {
        background-color: $black;
    }
}

.bp-header button.ba-btn-annotate-draw-post {
    background-color: $off-white;
    color: $twos;

    &:hover {
        background-color: $white;
    }
}

.bp-container .ba-point-post-cancel-container,
.bp-container .ba-draw-post-cancel-container {
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 0;

    button {
        height: 32px;
        margin: 8px;
    }
}

.bp-container .ba-draw-undo-redo-container {
    margin: 0 auto;

    .is-disabled.ba-btn-annotate-draw-undo,
    .is-disabled.ba-btn-annotate-draw-redo,
    .ba-btn-annotate-draw-undo,
    .ba-btn-annotate-draw-redo,
    button.ba-btn-annotate-draw-undo,
    button.ba-btn-annotate-draw-redo {
        background: none;
        border: none;
        margin: 5px;

        svg {
            fill: $off-white;
            vertical-align: middle;
        }
    }
}

//------------------------------------------------------------------------------
// CSS for points and dialogs
//------------------------------------------------------------------------------

.ba-point-annotation-marker {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    width: 24px;

    svg {
        fill: fade-out($box-blue, .35);
        transition: fill .5s;
    }

    &:hover svg {
        fill: $box-blue;
    }
}

.ba-point-annotation-marker.ba-annotation-dialog-flipped {
    path,
    rect {
        display: none;
    }
}

.ba-annotation-dialog-flipped {
    .ba-annotation-caret {
        transform: rotate(180deg);
    }
}

.bp-use-default-cursor {
    cursor: default;

    // Overrides pdf_viewer.css
    .textLayer > div {
        cursor: default;
    }
}

.ba-annotation-layer-highlight,
.ba-annotation-layer-highlight-comment {
    cursor: text;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 15px; // Match 15px padding top on page
}

// Quad point positioning - the helper divs are positioned relative to the Rangy-created element
.bp-doc .rangy-highlight {
    background-color: #ff0;
    position: relative;
}

// These helper divs allow us to calculate the quad points of an element
.ba-quad-corner-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.ba-quad-corner {
    background: none;
    height: 0;
    position: absolute;
    width: 0;

    &.corner1 {
        bottom: 0;
        left: 0;
    }

    &.corner2 {
        bottom: 0;
        right: 0;
    }

    &.corner3 {
        right: 0;
        top: 0;
    }

    &.corner4 {
        left: 0;
        top: 0;
    }
}

//------------------------------------------------------------------------------
// Draw annotation mode
//------------------------------------------------------------------------------
.ba-annotation-draw-boundary {
    animation: dash 1s linear infinite;
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-dasharray: 5;
    stroke-width: 3px;
}

@keyframes dash {
    from {
        stroke-dashoffset: 10;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.ba-annotation-draw .textLayer {
    pointer-events: none;

    > div {
        pointer-events: auto;
    }
}

.ba-annotation-layer-draw,
.ba-annotation-layer-draw-in-progress {
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 15px; // Match 15px padding top on page
}

.ba-drawing-boundary {
    border: 2px dashed $sevens;
    position: absolute;
}

//------------------------------------------------------------------------------
// Annotation mode
//------------------------------------------------------------------------------
.ba-annotation-mode .page,
.ba-annotation-mode .ba-annotation-layer-highlight,
.ba-annotation-mode .ba-annotation-layer-highlight-comment,
.ba-annotation-mode .textLayer > div,
.ba-annotation-mode > img,
.ba-annotation-mode img {
    cursor: crosshair;
}

.ba-draw-mode .ba-point-annotation-marker {
    cursor: crosshair;

    &:focus {
        outline: none;
    }
}

// Needed to allow point annotations since PDF.js adds a funky mousedown handler
// that helps with text selection - we need to disable this since it interacts
// badly with point annotations on non-text divs in non-Chrome browsers
.ba-annotation-mode .textLayer > div,
.ba-annotation-mode .textLayer .endOfContent {
    pointer-events: none;
}
