@mixin border-top-bottom {
    border-color: $seesee;
    border-style: solid;
    border-width: 1px 0;
}

.ba-mobile-annotation-dialog,
.ba-mobile-create-annotation-dialog {
    background: white;
    border-top: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 130;
    &.ba-animate-show-dialog {
        &:not(.ba-plain-highlight) {
            animation: show-dialog-small;
            animation-duration: .2s;
            animation-fill-mode: forwards;
            @media #{$tablet} {
                animation: show-dialog-tablet;
                animation-duration: .2s;
                animation-fill-mode: forwards;
                border-left: solid 1px $seesee;
                width: 450px;
            }
        }
        &.ba-plain-highlight {
            animation: show-highlight-dialog;
            animation-duration: .2s;
            animation-fill-mode: forwards;
        }
    }
}

.ba-mobile-create-annotation-dialog {
    bottom: 0;
    height: auto;
    top: auto;
}

.ba-create-annotation-dialog.ba-mobile-annotation-dialog {
    height: auto;
    .ba-annotation-highlight-dialog {
        bottom: 0;
    }
}

@keyframes show-dialog-small {
    0% {
        top: 100%;
    }
    100% {
        top: 0%;
    }
}

@keyframes show-dialog-tablet {
    0% {
        right: -50%;
    }
    100% {
        right: 0%;
    }
}

@keyframes show-highlight-dialog {
    0% {
        top: -48px;
    }
    100% {
        top: 0;
    }
}

.ba-mobile-create-annotation-dialog,
.ba-mobile-annotation-dialog.ba-annotation-dialog {
    .annotation-container {
        background-color: $white;
        border: 0;
        border-radius: 4px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 15px;
        position: absolute;
        top: 48px;
        width: 100%;
    }
    .ba-annotation-mobile-header {
        align-items: center;
        background-color: $white;
        display: flex;
        height: 48px;
        justify-content: space-between;
        padding: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 160;
        @include border-top-bottom;
    }
    .ba-annotation-dialog-close {
        background: none;
        border: 0;
        display: inline-block;
        height: 48px;
        line-height: 1;
        margin-top: -1px;
        padding: 3px;
        vertical-align: middle;
        width: 48px;
        .icon {
            fill: fade-out($better-black, .25);
        }
        &:hover .icon {
            fill: $better-black;
        }
    }
    .ba-textarea {
        font-size: 16px;
        line-height: 16px;
        min-width: 100%;
    }
    .comment-text {
        width: 100%;
    }
    .ba-profile-image-container {
        width: 43px;
        img {
            height: 40px;
            width: 40px;
        }
    }
    .ba-profile-container {
        .ba-user-name {
            font-size: 16px;
        }
        .ba-created-date {
            font-size: 14px;
        }
    }
    .bp-btn {
        font-size: 16;
    }
    .comment-text,
    .delete-confirmation-message {
        font-size: 15px;
    }
    .delete-comment-btn {
        svg {
            height: 24px;
            width: 24px;
        }
    }
    .reply-container {
        padding-bottom: 45px;
    }
}

/* Highlight dialog */

.ba-mobile-annotation-dialog.ba-plain-highlight {
    height: 47px; // includes mobile header & highlight dialog
    top: auto;
    @include border-top-bottom;
}

.ba-mobile-annotation-dialog .ba-annotation-highlight-btns,
.ba-mobile-annotation-dialog .ba-create-comment,
.ba-mobile-annotation-dialog .annotation-container section[data-section="create"],
.ba-mobile-create-annotation-dialog {
    background: white;
    bottom: 0;
    left: 0;
    padding: 15px;
    position: fixed;
    width: 100%;
    @include border-top-bottom;
}

.ba-mobile-annotation-dialog .annotation-container {
    @media #{$tablet} {
        left: auto;
        padding: 15px 0;
        width: 415px;
    }
}

.ba-mobile-annotation-dialog .ba-annotation-highlight-dialog {
    border: none;
    color: $fours;
    font-size: 16px;
    line-height: 16px;
    min-width: 100%;
    padding: 15px;
    position: absolute;
    text-align: center;
    z-index: 9999;
    .ba-annotation-highlight-btns {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        button {
            flex-grow: 1;
            padding: 15px 0;
            &:nth-child(2)::before {
                border-right: 1px solid $seesee;
                bottom: 17px;
                content: "";
                height: 25px;
                position: absolute;
                right: 50%;
            }
        }
    }
    &.cannot-annotate {
        .ba-add-highlight-btn,
        .ba-highlight-comment-btn {
            display: none;
        }
    }
}

.bp-container .ba-draw-undo-redo-container {
    margin: 0;
    @media #{$tablet} {
        margin: 0 auto;
    }
}
