.ba-DrawingAnnotations-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &.is-listening {
        .ba-DrawingTarget {
            pointer-events: auto; // Delegate event control to avoid re-rendering every target on mousedown/up
        }
    }
}

.ba-DrawingAnnotations-creator,
.ba-DrawingAnnotations-target {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ba-DrawingAnnotations-creator {
    pointer-events: auto;
    touch-action: none;
}
